
.loginForm {
    display: flex;
    align-items: center;

    max-width: 700px;
    height: 500px;
    margin: 20px auto;
    background-color: #f4f4f4;
    box-shadow: 1px 1px 1px #ccc;
    border-radius: 10px;
    padding: 50px;
}

.form {
    width: 300px;
    margin: 0 auto;
}