.bookCard {
    max-width: 200px;
    margin-bottom: 10px;
}

.image {
    min-height: 200px;
    height: 200px;
}

.cardDivImg {
    padding: 10px;
}

.cardText, .cardTitle {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0;
}

.cardTitle {
    display: block;
    min-height: 48px;
}

.cardText {
    min-height: 48px;
}
